body{background-image:url("../imagen/flo.jpg");}
.titulo{font-family: Brush Script MT;font-size:500%;text-align:center;text-decoration: underline;text-decoration-color:#07CDCA;}
.listas{font-size: 200%;color:#CA0F70;font-family: cursive;text-decoration: underline;text-decoration-color: #1E37DA }
.ingredientes {font-size: 120%; list-style-image: url("../imagen/cora .png")}
.prepacion{font-size:120%; }
.imagen{height:250px;width: auto; box-shadow:  0px 5px 5px pink}
.musica{font-size: 150%;font-family: fantasy;color: #076F04 ;}
.video{font-size: 140%;}
.parrafo{text-align: justify; }
main{float: left;; height:40%; ;width: 80%;border-block-start-style:dotted;writing-mode: horizontal-tb;display: block;}
aside{ width: 20%;  float: left; background-color: #FAC9FC;}
section{float: right;border-block-start-style:dotted;writing-mode: horizontal-tb;display: block;}
.contenedor { display: grid; justify-content: center;}
footer{float: left;border-block-start-style:dotted;writing-mode: horizontal-tb;display: block;width: 100%; display: flex;
  justify-content: center;}
.btn-wsp{position: fixed;width: 55px;height: 55px;line-height: 55px;bottom: 30px;right: 30px;border-radius: 50px;text-align: center;}
